<div class="sticky-top bg-light">
  <div class="text-bg-dark text-center">
    <h1>Student Management System</h1>
  </div>
  <br />
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="d-flex w-50">
        <input
          #searchInput
          type="text"
          (keyup.enter)="searchStudent(searchInput.value)"
          class="form-control border border-dark me-2"
          placeholder="Enter student index number"
          [(ngModel)]="searchIndexNo"
        />
        <button
          class="btn btn-primary me-2 d-flex align-items-center"
          (click)="searchStudent(searchInput.value)"
        >
          <i class="fas fa-search me-2"></i>Search
        </button>
      </div>
      <div>
        <button class="btn btn-primary" (click)="AddStudent()">
          Add Student
        </button>
      </div>
    </div>
    <br />
    <h2 class="text-bg-secondary text-center m-0 py-2">All Student Details</h2>
    <table class="table m-0">
      <thead class="table-dark">
        <tr>
          <th scope="col"width="14%">Index No</th>
          <th scope="col"width="12%">First Name</th>
          <th scope="col"width="17%">Last Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">GPA</th>
          <th scope="col"width="29%"></th>
        </tr>
      </thead>
    </table>
  </div>
</div>


<div class="container">
  <div class="table-container border bg-light">
    <div class="table-responsive limited-height">
      <table class="table table-hover ">
        <tbody>
          <tr *ngFor="let student of students; let i = index">
            <td>{{ student.index_no }}</td>
            <td>{{ student.first_Name }}</td>
            <td>{{ student.last_Name }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.dateofbirth }}</td>
            <td width="17%">{{ student.gpa }}</td>
            <td class=" justify-content-end "width= 17%>
              <button
                class="btn btn-purple me-3"
                (click)="editStudent(student.index_no)">
                <i class="fas fa-pen me-2"></i>Edit
              </button>
              <button
                class="btn btn-danger me-3"
                (click)="deleteStudent(student.index_no)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>